<div class="pb-10">
    <div class="lg:flex items-center justify-between mb-4">
        <h1 class="mb-4 lg:mb-0 text-2xl font-semibold text-stone-800">Orders</h1>
        <select name="filterStatus" id="filterStatus" (change)="onSelectStatus($event)"
            class="py-2 px-1 border w-[160px] rounded-md cursor-pointer ms-8 border-primary-600">
            <option value="">Status</option>
            <option value="Pending">Pending</option>
            <option value="Confirmed">Confirmed</option>
            <option value="Cancelled">Cancelled</option>
            <option value="Delivered">Delivered</option>
        </select>
    </div>
    @if(isLoading) {
    <app-loader></app-loader>
    }
    @if(!filterOrders?.length && !isLoading) {
    <app-not-found></app-not-found>
    }
    @if(filterOrders?.length && !isLoading) {
    <div>
        <table class="w-full text-left text-gray-600">
            <thead class="bg-[#f5f5f5] text-sm">
                <tr>
                    <th class="uppercase">ID</th>
                    <th class="uppercase">Date</th>
                    <th class="uppercase">Customer</th>
                    <th class="uppercase">Status</th>
                    <th class="uppercase">Payment Method</th>
                    <th class="uppercase">Total</th>
                    <th class="uppercase">Action</th>
                </tr>
            </thead>
            <tbody>
                @for(order of filterOrders; track order._id) {
                <tr>
                    <td class="flex items-center">
                        #{{order.invoiceNo}}
                    </td>
                    <td>{{order.createdAt | date: 'dd/MM/yyyy'}}</td>
                    <td>{{order.customerInfo.firstName + ' ' + order.customerInfo.lastName}}</td>
                    <td [ngClass]="{
                        'pending-st': order.status === 'Pending',
                        'cancel-st': order.status === 'Cancelled',
                        'delivered-st': order.status === 'Delivered',
                        'confirmed-st': order.status === 'Confirmed'
                      }">
                        {{order.status}}
                    </td>
                    <td>
                        <span class="px-2 py-1 rounded-md"
                            [ngClass]="{'bg-primary-300 text-primary-600': order.paymentInfo.paymentMethod === 'Cash'}">
                            {{order.paymentInfo.paymentMethod}}
                        </span>
                    </td>
                    <td>{{order.totalPrice | currency}}</td>
                    <td>
                        <div class="flex items-center gap-3">
                            <a routerLink="order/{{order._id}}" class="flex items-center">
                                <mat-icon class="scale-110">
                                    <span class="material-symbols-outlined text-blue-500">
                                        visibility
                                    </span>
                                </mat-icon>
                            </a>
                            @if(order.status === 'Pending') {
                            <div class="flex items-center gap-3">
                                <input type="checkbox" class="w-5 h-5 cursor-pointer" (change)="onConfirmed(order._id)">
                            </div>
                            }
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <app-paginator [totalRecords]="totalRecords" [first]="first" [rows]="rows"
            (pageChangeEvent)="onPageChanged($event)"></app-paginator>
    </div>
    }
</div>