<h2 class="text-xl text-gray-600 font-semibold mb-5">Change Password</h2>
<form [formGroup]="form">
    <div class="w-full mt-5">
        <label class="mb-2 block text-sm font-medium leading-none text-gray-500">
            Email
        </label>
        <div>
            <div class="relative">
                <input type="text" placeholder="Your email"
                    class="text-input placeholder-body h-11 min-h-12 w-full appearance-none rounded-md border border-gray-200 bg-white py-2 pl-5 text-sm opacity-75 transition duration-200 ease-in-out focus:border-primary-600 focus:outline-none focus:ring-0 md:h-12"
                    formControlName="email" [disabled]="true" />
            </div>
            @if(form.get('email')?.hasError('required') && form.get('email')?.touched) {
            <small class="text-red-600 text-[15px] pt-1 inline-block">(*) Email is required</small>
            }
        </div>
    </div>
    <div class="w-full mt-5">
        <label class="mb-2 block text-sm font-medium leading-none text-gray-500">
            Current Password
        </label>
        <div>
            <div class="relative">
                <input type="text" placeholder="Your current password"
                    class="text-input placeholder-body h-11 min-h-12 w-full appearance-none rounded-md border border-gray-200 bg-white py-2 pl-5 text-sm opacity-75 transition duration-200 ease-in-out focus:border-primary-600 focus:outline-none focus:ring-0 md:h-12"
                    formControlName="currentPassword" />
            </div>
            @if(form.get('currentPassword')?.hasError('required') && form.get('currentPassword')?.touched) {
            <small class="text-red-600 text-[15px] pt-1 inline-block">(*) Current password is required</small>
            }
        </div>
    </div>
    <div class="w-full mt-5">
        <label class="mb-2 block text-sm font-medium leading-none text-gray-500">
            New Password
        </label>
        <div>
            <div class="relative">
                <input type="text" placeholder="Your new password"
                    class="text-input placeholder-body h-11 min-h-12 w-full appearance-none rounded-md border border-gray-200 bg-white py-2 pl-5 text-sm opacity-75 transition duration-200 ease-in-out focus:border-primary-600 focus:outline-none focus:ring-0 md:h-12"
                    formControlName="newPassword" />
            </div>
            @if(form.get('newPassword')?.hasError('required') && form.get('newPassword')?.touched) {
            <small class="text-red-600 text-[15px] pt-1 inline-block">(*) New password is required</small>
            }
        </div>
    </div>
    <div class="mt-5 text-right">
        <button
            class="md:text-sm leading-5 cursor-pointer transition ease-in-out duration-300 font-medium text-center justify-center border-0 border-transparent rounded-md placeholder-white focus-visible:outline-none focus:outline-none bg-primary-600 text-white px-5 md:px-6 lg:px-8 py-2 md:py-3 lg:py-3 hover:text-white hover:bg-primary-700 h-12 mt-1 text-sm lg:text-sm w-full sm:w-auto">Update
            Password</button>
    </div>
</form>