<div class="!sticky left-0 top-0 h-screen w-[290px] bg-primary-600">
    <div class="flex items-center px-6 py-4 border-b border-gray-400">
        <img src="../../../assets/logo-light_hls14v.svg" alt="Logo" class="h-10">
    </div>
    <div class="h-[calc(100vh-72.72px)] overflow-y-auto">
        <div class="relative h-full overflow-hidden">
            <div class="no-scrollbar absolute inset-0 overflow-scroll">
                <nav class="no-scrollbar h-full overflow-y-auto !border-none px-3 pt-3 text-white">
                    <ul class="px-3 flex flex-col mt-4 gap-2">
                        <li>
                            <a routerLink="/admin/dashboard" routerLinkActive="active"
                                class="flex items-center py-3 rounded-md transition-all text-white font-medium text-lg hover:bg-gray-50 hover:bg-opacity-20 px-3">
                                <mat-icon class="scale-110">
                                    <span class="material-symbols-outlined">
                                        grid_view
                                    </span>
                                </mat-icon>
                                <span class="ml-4">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/admin/categories" routerLinkActive="active"
                                class="flex items-center py-3 rounded-md transition-all text-white font-medium text-lg hover:bg-gray-50 hover:bg-opacity-20 px-3">
                                <mat-icon class="scale-110">
                                    <span class="material-symbols-outlined">
                                        layers
                                    </span>
                                </mat-icon>
                                <span class="ml-4">Categories</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/admin/products" routerLinkActive="active"
                                class="flex items-center py-3 rounded-md transition-all text-white font-medium text-lg hover:bg-gray-50 hover:bg-opacity-20 px-3">
                                <mat-icon class="scale-110">
                                    <span class="material-symbols-outlined">
                                        egg
                                    </span>
                                </mat-icon>
                                <span class="ml-4">Products</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/admin/users" routerLinkActive="active"
                                class="flex items-center py-3 rounded-md transition-all text-white font-medium text-lg hover:bg-gray-50 hover:bg-opacity-20 px-3">
                                <mat-icon class="scale-110">
                                    <span class="material-symbols-outlined">
                                        group
                                    </span>
                                </mat-icon>
                                <span class="ml-4">Users</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/admin/orders" routerLinkActive="active"
                                class="flex items-center py-3 rounded-md transition-all text-white font-medium text-lg hover:bg-gray-50 hover:bg-opacity-20 px-3">
                                <mat-icon class="scale-110">
                                    <span class="material-symbols-outlined">
                                        list_alt
                                    </span>
                                </mat-icon>
                                <span class="ml-4">Orders</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/admin/coupons" routerLinkActive="active"
                                class="flex items-center py-3 rounded-md transition-all text-white font-medium text-lg hover:bg-gray-50 hover:bg-opacity-20 px-3">
                                <mat-icon class="scale-110">
                                    <span class="material-symbols-outlined">
                                        shoppingmode
                                    </span>
                                </mat-icon>
                                <span class="ml-4">Coupons</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>