<swiper-container fmSwiper [config]="config">
    @for(slide of sliders; track slide.title) {
    <swiper-slide class="relative">
        <img src='{{slide.image}}' alt="Slide" class="w-full rounded-lg" />
        <div class="absolute left-0 top-0 flex h-full w-full flex-col justify-center pl-4 pr-12 sm:pe-12 sm:ps-8">
            <div class="w-10/12 sm:w-8/12">
                <h1
                    class="mb-2 line-clamp-1 text-xl font-bold text-gray-800 sm:text-lg  md:line-clamp-none md:text-2xl lg:line-clamp-none lg:text-3xl">
                    {{slide.title}}
                </h1>
                <p class="line-clamp-1 text-base leading-6 text-gray-600 md:line-clamp-none lg:line-clamp-none">
                    {{slide.description}}
                </p>
            </div>
            <div class="pt-4">
                <button>
                    Shop Now
                </button>
            </div>
        </div>
    </swiper-slide>
    }
</swiper-container>