<section class="bg-gray-50">
    <div class="mx-auto max-w-screen-2xl px-3 sm:px-10">
        <div
            class="flex w-full flex-col px-0 py-10 md:flex-row lg:flex-row lg:py-12 xl:max-w-screen-xl 2xl:max-w-screen-2xl">
            <app-checkout-form [discount]="coupon"
                class="order-2 flex h-full flex-col sm:order-1 md:w-full lg:order-1 lg:w-3/5"></app-checkout-form>
            <app-checkout-summary (typeCoupon)="receivedCoupon($event)"
                class="top-28 flex h-full flex-col md:sticky md:order-2 md:ml-6 md:w-full lg:sticky lg:order-2 lg:ml-10 lg:w-2/5 xl:ml-14"></app-checkout-summary>
        </div>
    </div>
</section>