<section class="bg-gray-50 px-3 pb-8 sm:px-10">
    <div
        class="grid-col mx-auto grid w-full max-w-screen-2xl grid-cols-1 gap-4 py-10 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:gap-6">
        <div
            class="duration-400 relative mx-auto w-full transform overflow-hidden rounded-lg transition delay-150 ease-out hover:shadow-xl">
            <div class="">
                <a routerLink="/products/search">
                    <img src="https://kachabazar-store-nine.vercel.app/_next/image?url=%2Fcta%2Fcta-bg-1.jpg&w=640&q=75"
                        alt="title" />
                    <div class="p-r-16 absolute left-0 top-0 z-10 flex w-full flex-col justify-center text-center">
                        <div class="pt-4">
                            <h2 class="text-base font-semibold text-gray-100 sm:text-lg md:text-lg lg:text-lg">
                                Taste of <br />
                                <span class="text-lg font-bold text-white sm:text-2xl md:text-2xl lg:text-2xl">
                                    Fresh & Natural
                                </span>
                            </h2>
                            <p class="font-sans text-sm text-gray-50">
                                Weekend discount offer
                            </p>
                            <button
                                class="mx-auto mt-4 hidden rounded-full bg-primary-600 px-4 py-1 text-center text-xs font-medium leading-6 text-white hover:bg-primary-600 sm:block lg:block">
                                Shop Now
                            </button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div
            class="duration-400 relative mx-auto w-full transform overflow-hidden rounded-lg transition delay-150 ease-out hover:shadow-xl">
            <div class="">
                <a routerLink="/products/search">
                    <img src="https://kachabazar-store-nine.vercel.app/_next/image?url=%2Fcta%2Fcta-bg-2.jpg&w=640&q=75"
                        alt="title" />
                    <div class="p-r-16 absolute left-0 top-0 z-10 flex w-full flex-col justify-center text-center">
                        <div class="pt-4">
                            <h2 class="text-base font-semibold text-gray-100 sm:text-lg md:text-lg lg:text-lg">
                                Taste of <br />
                                <span class="text-lg font-bold text-white sm:text-2xl md:text-2xl lg:text-2xl">
                                    Fish & Meat
                                </span>
                            </h2>
                            <p class="font-sans text-sm text-gray-50">
                                Weekend discount offer
                            </p>
                            <button
                                class="mx-auto mt-4 hidden rounded-full bg-primary-600 px-4 py-1 text-center text-xs font-medium leading-6 text-white hover:bg-primary-600 sm:block lg:block">
                                Shop Now
                            </button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div
            class="duration-400 relative mx-auto w-full transform overflow-hidden rounded-lg transition delay-150 ease-out hover:shadow-xl">
            <div class="">
                <a routerLink="/products/search">
                    <img src="https://kachabazar-store-nine.vercel.app/_next/image?url=%2Fcta%2Fcta-bg-3.jpg&w=640&q=75"
                        alt="title" />
                    <div class="p-r-16 absolute left-0 top-0 z-10 flex w-full flex-col justify-center text-center">
                        <div class="pt-4">
                            <h2 class="text-base font-semibold text-gray-100 sm:text-lg md:text-lg lg:text-lg">
                                Taste of <br />
                                <span class="text-lg font-bold text-white sm:text-2xl md:text-2xl lg:text-2xl">
                                    Bread & Bakery
                                </span>
                            </h2>
                            <p class="font-sans text-sm text-gray-50">
                                Weekend discount offer
                            </p>
                            <button
                                class="mx-auto mt-4 hidden rounded-full bg-primary-600 px-4 py-1 text-center text-xs font-medium leading-6 text-white hover:bg-primary-600 sm:block lg:block">
                                Shop Now
                            </button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <app-category-swiper></app-category-swiper>
    <app-filter-bar (onSort)="onSortPrice($event)" [lengthProductFound]="productsFilter.length"></app-filter-bar>
    @if(productsFilter && productsFilter.length) {
    <ul class="mx-auto mt-8 grid max-w-screen-2xl grid-cols-2 gap-2 sm:grid-cols-3 lg:grid-cols-5">
        @for(product of productsFilter; track product._id) {
        <app-product-item [product]="product"></app-product-item>
        }
    </ul>
    }@else {
    <app-not-found message="No products found" [bigSize]="false"></app-not-found>
    }
</section>