<section class="bg-gray-50 px-3 py-10 text-center sm:px-10 lg:py-16">
    <div class="mx-auto max-w-screen-2xl">
        <div class="mx-auto lg:w-3/4 xl:w-2/4">
            <h2 class="mb-2 text-xl font-semibold lg:text-2xl">
                Discounted Products
            </h2>
            <p class="text-base leading-6 text-gray-600">
                See Our latest discounted products below. Choose your daily needs
                from here and get a special discount with free shipping.
            </p>
        </div>
        <ul class="mx-auto mt-8 grid max-w-screen-2xl grid-cols-2 gap-2 sm:grid-cols-3 lg:grid-cols-5">
            @for(product of discountProducts; track product._id) {
            <app-product-item [product]="product"></app-product-item>
            }
        </ul>
    </div>
</section>