<div>
    <div class="lg:flex items-center justify-between mb-4">
        <h1 class="mb-4 lg:mb-0 text-2xl font-medium text-stone-800">{{data ? 'Edit Category' : 'Add New Category'}}
        </h1>
    </div>
    <div class="w-full">
        <form [formGroup]="editorForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
            <div class="flex w-full gap-6 pb-16">
                <div class="w-3/5">
                    <div>
                        <h2 class="text-xl mb-2 font-medium">Basic Information</h2>
                        <label for="name" class="block text-gray-500 font-medium mb-2">Category Name</label>
                        <input type="text"
                            class="h-11 border focus:outline-primary-600 border-gray-300 rounded-lg py-3 px-5 w-full"
                            placeholder="Name" id="name" formControlName="name">
                        @if(editorForm.get('name')?.hasError('required') && editorForm.get('name')?.touched) {
                        <small class="text-red-600 text-[15px] pt-1 inline-block">(*) Name is required</small>
                        }
                    </div>
                </div>
                <div>
                    <h2 class="text-xl font-medium">Category Image</h2>
                    <p class="mb-2">Add or change image of the category</p>
                    <div class="flex items-center gap-3">
                        @if(imagePicked) {
                        <div
                            class="border-dashed image-small-admin border-2 rounded-lg border-gray-300 hover:border-primary-600 transition-all w-24 h-24 p-3 relative overflow-hidden">
                            <img src="{{imagePicked}}" class="w-full h-full" alt="{{data!.name}}">
                            <span class="trash hidden">
                                <mat-icon
                                    class="scale-110 absolute inset-0 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10 cursor-pointer">
                                    <span class="material-symbols-outlined text-red-500" (click)="onImageRemove()">
                                        delete_forever
                                    </span>
                                </mat-icon>
                            </span>
                        </div>
                        }
                        @if(!imagePicked) {
                        <div
                            class="border-dashed border-2 rounded-lg border-gray-300 hover:border-primary-600 transition-all w-24 h-24 relative overflow-hidden">
                            <label for="image"
                                class="w-full h-full flex flex-col gap-2 items-center justify-center p-3 text-gray-500 font-medium mb-2 z-10">
                                <mat-icon class="scale-125">
                                    <span class="material-symbols-outlined">
                                        photo_library
                                    </span>
                                </mat-icon>
                                <span>Upload</span>
                            </label>
                            <input type="file" id="image" #filePicker (change)="onImagePicked($event)"
                                class="absolute inset-0 w-full h-full opacity-0 cursor-pointer">
                        </div>
                        }
                    </div>
                </div>
            </div>
            <div
                class="sticky bottom-0 -mx-8 flex items-center justify-between border-t border-gray-200 bg-white px-8 py-4">
                <div></div>
                <div class="items-center gap-3 md:flex">
                    <button
                        class="button radius-round rounded-md border border-gray-300 bg-white px-3 py-2 text-base text-gray-600 hover:bg-gray-50 active:bg-gray-100 ltr:mr-3 rtl:ml-3"
                        type="button">
                        Discard
                    </button>
                    <button
                        class="button radius-round rounded-md bg-primary-600 px-3 py-2 text-base text-white hover:bg-primary-700 active:bg-primary-700"
                        type="submit">
                        <span class="flex items-center justify-center gap-2">
                            <mat-icon>
                                <span class="material-symbols-outlined">
                                    save
                                </span>
                            </mat-icon>
                            <span class="ltr:ml-1 rtl:mr-1">Save</span>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>