<div
    class="group relative flex h-auto w-full items-center justify-start border-b border-gray-100 bg-white px-4 py-3 transition-all last:border-b-0 hover:bg-gray-50">
    <div
        class="relative mr-4 flex flex-shrink-0 cursor-pointer overflow-hidden rounded-full border border-gray-100 shadow-sm">
        <img src="https://i.postimg.cc/Z5yQ47YB/Rainbow-Chard-Package-per-lb.jpg" width="40" height="40"
            alt="Rainbow Chard" />
    </div>
    <div class="flex w-full flex-col overflow-hidden">
        <a class="text-heading line-clamp-1 truncate text-sm font-medium text-gray-700" href="/product/rainbow-chard">
            Rainbow Chard
        </a>
        <span class="mb-1 text-xs text-gray-400">Item Price $7.07</span>
        <div class="flex items-center justify-between">
            <div class="text-heading text-sm font-bold leading-5 md:text-base">
                <span>€7.07</span>
            </div>
            <div
                class="w-22 flex h-8 flex-wrap items-center justify-evenly rounded-md border border-gray-100 bg-white p-1 text-gray-600 md:w-24 lg:w-24">
                <button>
                    <mat-icon>
                        <span class="material-symbols-outlined">
                            remove
                        </span>
                    </mat-icon>
                </button>
                <p class="text-dark px-1 text-sm font-semibold">1</p>
                <button>
                    <span class="material-symbols-outlined">
                        add
                    </span>
                </button>
            </div>
            <button class="cursor-pointer text-lg text-red-400 hover:text-red-600">
                <span class="material-symbols-outlined">
                    remove
                </span>
            </button>
        </div>
    </div>
</div>