<footer class="absolute bottom-0 w-full flex h-16 flex-auto items-center !bg-white px-4 sm:px-6 md:px-8">
    <div class="flex w-full flex-auto items-center justify-between">
        <span>
            Copyright © 2024 <span class="font-semibold">Nguyen Chinh</span>
            All rights reserved.
        </span>
        <div class="">
            <a class="text-gray" href="/#">
                Term &amp; Conditions
            </a>
            <span class="text-muted mx-2"> | </span>
            <a class="text-gray" href="/#">
                Privacy &amp; Policy
            </a>
        </div>
    </div>
</footer>