<section class="bg-indigo-50 bg-center bg-repeat px-3 py-10 text-center sm:px-10 lg:py-16">
    <div class="mx-auto flex max-w-screen-2xl items-center gap-3 overflow-hidden">
        <div class="hidden flex-1 md:block">
            <img src='../../../../assets/moreif1.webp' alt="App download" />
        </div>
        <div class="flex-1">
            <h3 class="mb-3 text-xl font-bold md:text-2xl lg:text-3xl">
                Get Your Daily Needs From Our KachaBazar Store
            </h3>
            <p class="mb-6 text-base leading-7 opacity-90">
                There are many products you will find in our shop, Choose your daily
                necessary product from our KachaBazar shop and get some special
                offers.
            </p>
            <div class="flex items-center justify-center gap-2">
                <img src='../../../../assets/app-store_cyyc0f.svg' alt="App store image" />
                <img src='../../../../assets/play-store_cavwua.svg' alt="Play store image" />
            </div>
        </div>
        <div class="hidden flex-1 lg:block">
            <img src='../../../../assets/moreif1.webp' alt="App download" />
        </div>
    </div>
</section>