<header class="border-b border-gray-200 sticky top-0 left-0 z-40 bg-white">
    <div class="text-t-gray-500 flex h-16 items-center justify-between px-6">
        <div class="flex items-center gap-3 text-2xl">
            <span
                class="cursor-pointer rounded-full h-10 w-10 flex items-center justify-center transition-all hover:bg-gray-200 hover:text-black"
                (click)="toggleCollapsed()">
                <mat-icon class="scale-110">
                    <span class="material-symbols-outlined">
                        {{ !isCollapsed ? 'menu_open' : 'menu' }}
                    </span>
                </mat-icon>
            </span>
            <span
                class="cursor-pointer rounded-full h-10 w-10 flex items-center justify-center transition-all hover:bg-gray-200 hover:text-black">
                <mat-icon class="scale-110">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </mat-icon>
            </span>
        </div>
        <div class="flex items-center gap-5">
            <span
                class="cursor-pointer rounded-full h-10 w-10 flex items-center justify-center transition-all hover:bg-gray-200 hover:text-black">
                <img src='../../../../../assets/us-c.png' alt="US Flag" />
            </span>
            <span
                class="relative cursor-pointer rounded-full h-10 w-10 flex items-center justify-center text-2xl transition-all hover:bg-gray-200 hover:text-black">
                <mat-icon class="scale-110">
                    <span class="material-symbols-outlined">
                        notifications
                    </span>
                </mat-icon>
                <small class="absolute right-2 top-1 h-2 w-2 rounded-full bg-red-600"></small>
            </span>
            <span
                class="relative cursor-pointer rounded-full h-10 w-10 flex items-center justify-center text-2xl transition-all hover:bg-gray-200 hover:text-black">
                <mat-icon class="scale-110">
                    <span class="material-symbols-outlined">
                        settings
                    </span>
                </mat-icon>
            </span>
            <div class="flex cursor-pointer items-center gap-3">
                <div class="h-8 w-8 overflow-hidden rounded-full">
                    <img src="https://cdn-icons-png.flaticon.com/512/2304/2304226.png" alt="Avatar"
                        class="h-full w-full" />
                </div>
                <div>
                    <div class="span text-sm">Admin</div>
                    <h3 class="text-md font-bold">Nguyen Chinh</h3>
                </div>
            </div>
        </div>
    </div>
</header>