<div class="bg-gray-50">
    <div class="max-w-screen-2xl mx-auto py-10 px-3 sm:px-6">
        <div class="bg-emerald-100 rounded-md mb-5 px-4 py-3"><label>Thank You <span
                    class="font-bold text-emerald-600">{{order.customerInfo.firstName + ' ' +
                    order.customerInfo.lastName}},</span> Your order have been received ! Please check
                your email in order to download the invoice.</label>
        </div>
        <div class="bg-white rounded-lg shadow-sm">
            <div>
                <div class="bg-indigo-50 p-8 rounded-t-xl">
                    <div
                        class="flex lg:flex-row md:flex-row flex-col lg:items-center justify-between pb-4 border-b border-gray-50">
                        <div>
                            <h1 class="font-bold text-2xl uppercase">Invoice</h1>
                            <h6 class="text-gray-700">Status : <span class="text-orange-500">{{order.status}}</span>
                            </h6>
                        </div>
                        <div class="lg:text-right text-left">
                            <h2 class="text-lg font-semibold mt-4 lg:mt-0 md:mt-0"><a href="/"><img alt="logo"
                                        loading="lazy" width="110" height="40" decoding="async" data-nimg="1"
                                        src="/logo/logo-color.svg" style="color: transparent;"></a></h2>
                            <p class="text-sm text-gray-500">59 Station Rd, Purls Bridge, United Kingdom</p>
                        </div>
                    </div>
                    <div class="flex lg:flex-row md:flex-row flex-col justify-between pt-4">
                        <div class="mb-3 md:mb-0 lg:mb-0 flex flex-col"><span
                                class="font-bold text-sm uppercase text-gray-600 block">Date</span><span
                                class="text-sm text-gray-500 block"><span>{{order.createdAt | date:
                                    'dd/MM/yyyy'}}</span></span></div>
                        <div class="mb-3 md:mb-0 lg:mb-0 flex flex-col"><span
                                class="font-bold text-sm uppercase text-gray-600 block">Invoice
                                No.</span><span class="text-sm text-gray-500 block">#{{order.invoiceNo}}</span></div>
                        <div class="flex flex-col lg:text-right text-left"><span
                                class="font-bold text-sm uppercase text-gray-600 block">Invoice
                                To.</span><span class="text-sm text-gray-500 block">{{order.customerInfo.firstName}}
                                {{order.customerInfo.lastName}}
                                <br>{{order.customerInfo.email}}
                                <span
                                    class="ml-2">{{order.customerInfo.phone}}</span><br>{{order.shippingInfo.address}},
                                {{order.shippingInfo.city}}, {{order.shippingInfo.country}}<br>
                            </span></div>
                    </div>
                </div>
                <div class="s">
                    <div class="overflow-hidden lg:overflow-visible px-8 my-10">
                        <div class="-my-2 overflow-x-auto">
                            <table class="table-auto min-w-full border border-gray-100 divide-y divide-gray-200">
                                <thead class="bg-gray-50">
                                    <tr class="text-xs bg-gray-100">
                                        <th scope="col"
                                            class="font-semibold px-6 py-2 text-gray-700 uppercase tracking-wider text-left">
                                            Sr.</th>
                                        <th scope="col"
                                            class="font-semibold px-6 py-2 text-gray-700 uppercase tracking-wider text-left">
                                            Product Name</th>
                                        <th scope="col"
                                            class="font-semibold px-6 py-2 text-gray-700 uppercase tracking-wider text-center">
                                            Quantity</th>
                                        <th scope="col"
                                            class="font-semibold px-6 py-2 text-gray-700 uppercase tracking-wider text-center">
                                            Item Price</th>
                                        <th scope="col"
                                            class="font-semibold px-6 py-2 text-gray-700 uppercase tracking-wider text-right">
                                            Amount</th>
                                    </tr>
                                </thead>
                                <tbody class="bg-white divide-y divide-gray-100 text-serif text-sm">
                                    @for(item of order.orderItems; track item.product; let index = $index) {
                                    <tr>
                                        <th class="px-6 py-1 whitespace-nowrap font-normal text-gray-500 text-left">
                                            {{index + 1}}
                                        </th>
                                        <td class="px-6 py-1 whitespace-nowrap font-normal text-gray-500">
                                            {{item.product.name}}</td>
                                        <td class="px-6 py-1 whitespace-nowrap font-bold text-center">{{item.quantity}}
                                        </td>
                                        <td class="px-6 py-1 whitespace-nowrap font-bold text-center font-DejaVu">
                                            {{item.product.price | currency}}</td>
                                        <td
                                            class="px-6 py-1 whitespace-nowrap text-right font-bold font-DejaVu k-grid text-red-500">
                                            {{(item.quantity * item.product.price) | currency}}</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="border-t border-b border-gray-100 p-10 bg-emerald-50">
                    <div class="flex lg:flex-row md:flex-row flex-col justify-between pt-4">
                        <div class="mb-3 md:mb-0 lg:mb-0  flex flex-col sm:flex-wrap"><span
                                class="mb-1 font-bold text-sm uppercase text-gray-600 block">Payment
                                Method</span><span class="text-sm text-gray-500 font-semibold block">Cash</span></div>
                        <div class="mb-3 md:mb-0 lg:mb-0  flex flex-col sm:flex-wrap"><span
                                class="mb-1 font-bold text-sm uppercase text-gray-600 block">Shipping
                                Cost</span><span
                                class="text-sm text-gray-500 font-semibold block">{{order.shippingInfo.cost! |
                                currency}}</span></div>
                        <div class="mb-3 md:mb-0 lg:mb-0  flex flex-col sm:flex-wrap"><span
                                class="mb-1 font-bold text-sm uppercase text-gray-600 block">Discount</span><span
                                class="text-sm text-gray-500 font-semibold block">€0.00</span></div>
                        <div class="flex flex-col sm:flex-wrap"><span
                                class="mb-1 font-bold text-sm uppercase text-gray-600 block">Total
                                Amount</span><span class="text-2xl font-bold text-red-500 block">{{order.totalPrice |
                                currency}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>