<div class="pb-10">
    <div class="lg:flex items-center justify-between mb-4">
        <h1 class="mb-4 lg:mb-0 text-2xl font-medium text-stone-800">Users</h1>
        <div>
            <!-- <a routerLink="add"
                class="flex items-center gap-2 font-semibold text-base py-2 px-2 rounded-md bg-primary-600 text-white">
                <mat-icon>
                    <span class="material-symbols-outlined">
                        add_circle
                    </span>
                </mat-icon>
                Add Category
            </a> -->
        </div>
    </div>
    @if(isLoading) {
    <app-loader></app-loader>
    }

    @if(!users.length && !isLoading) {
    <app-not-found></app-not-found>
    }

    @if(!isLoading && users.length) {
    <div>
        <table class="w-full text-left text-gray-600">
            <thead class="bg-[#f5f5f5] text-sm">
                <tr>
                    <th class="uppercase">Name</th>
                    <th class="uppercase">Avatar</th>
                    <th class="uppercase">Email</th>
                    <th class="uppercase">Phone</th>
                    <th class="uppercase">Address</th>
                    <th class="uppercase">Actions</th>
                </tr>
            </thead>
            <tbody>
                @for(user of users; track user._id) {
                <tr>
                    <td>{{user.name}}</td>
                    <td>
                        <img src="{{user.avatar}}" alt="{{user.name}}" class="w-10 h-10 rounded-md">
                    </td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.address}}</td>
                    <td>
                        <div class="flex items-center gap-3">
                            <button class="flex items-center">
                                <mat-icon class="scale-110">
                                    <span class="material-symbols-outlined text-red-500">
                                        delete_forever
                                    </span>
                                </mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <app-paginator [totalRecords]="totalRecords" [first]="first" [rows]="rows"
            (pageChangeEvent)="onPageChanged($event)"></app-paginator>
    </div>
    }
</div>