<div class="order-1 rounded-lg border bg-white p-5 sm:order-2 lg:px-8 lg:py-8">
    <h2 class="pb-4 text-lg font-semibold">Order Summary</h2>
    <div class="scrollbar-hide block max-h-64 w-full overflow-y-scroll bg-gray-50">
        @if(cartService.getCartItems().length) {
        @for(item of cartService.getCartItems(); track item.id) {
        <app-checkout-item [orderItem]="item"></app-checkout-item>
        }
        } @else {
        <div class="text-center py-10"><span class="flex justify-center my-auto text-gray-500 font-semibold text-4xl">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em"
                    width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M454.65 169.4A31.82 31.82 0 00432 160h-64v-16a112 112 0 00-224 0v16H80a32 32 0 00-32 32v216c0 39 33 72 72 72h272a72.22 72.22 0 0050.48-20.55 69.48 69.48 0 0021.52-50.2V192a31.75 31.75 0 00-9.35-22.6zM176 144a80 80 0 01160 0v16H176zm192 96a112 112 0 01-224 0v-16a16 16 0 0132 0v16a80 80 0 00160 0v-16a16 16 0 0132 0z">
                    </path>
                </svg>
            </span>
            <h2 class="font-medium text-sm pt-2 text-gray-600">No Item Added Yet!</h2>
        </div>
        }
    </div>
    <div
        class="text-heading mt-4 flex w-full items-center py-4 text-sm font-semibold last:border-b-0 last:pb-0 last:text-base lg:py-4">
        <div class="w-full">
            <div class="flex flex-col items-start justify-end sm:flex-row">
                <input type="text" placeholder="Input your coupon code" [(ngModel)]="couponCode"
                    class="form-input text-input h-12 w-full appearance-none rounded-md border border-gray-200 bg-white px-3 py-2 text-sm placeholder-gray-500 placeholder-opacity-75 transition duration-200 ease-in-out focus:border-emerald-500 focus:outline-none focus:ring-0 md:px-4" />
                <button (click)="onEnterCoupon()"
                    class="mt-3 inline-flex h-12 w-full cursor-pointer items-center justify-center rounded-md border border-gray-200 px-5 py-3 text-center text-sm font-semibold leading-4 placeholder-white transition duration-300 ease-in-out hover:bg-emerald-500 hover:text-white focus:outline-none focus-visible:outline-none sm:ml-3 sm:mt-0 sm:w-auto md:ml-3 md:mt-0 md:px-6 md:py-3.5 md:text-sm lg:ml-3 lg:mt-0 lg:px-8 lg:py-3 lg:text-base">
                    Apply
                </button>
            </div>
        </div>
    </div>
    <div
        class="flex w-full items-center py-2 text-sm font-semibold text-gray-500 last:border-b-0 last:pb-0 last:text-base">
        Shipping Cost
        <span class="ml-auto flex-shrink-0 font-bold text-gray-800">
            {{10 | currency}}
        </span>
    </div>
    <div
        class="flex w-full items-center py-2 text-sm font-semibold text-gray-500 last:border-b-0 last:pb-0 last:text-base">
        Discount
        <span class="ml-auto flex-shrink-0 font-bold text-orange-400">
            {{discount | currency}}
        </span>
    </div>
    <div class="mt-4 border-t">
        <div class="flex items-center justify-between pt-5 text-sm font-bold uppercase">
            TOTAL COST
            <span class="text-lg font-extrabold">{{cartService.getTotalCartPrice() + 10 - discount | currency}}</span>
        </div>
    </div>
</div>