@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: Open Sans, sans-serif;
}

li {
    list-style-type: none;
}

/* 
body {
    height: 10000px;
} */

.MuiPaper-root {
    width: 100%;
}

@media (min-width: 480px) {
    .MuiPaper-root {
        width: 420px;
    }
}