@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: Open Sans, sans-serif !important;
}

li {
    list-style-type: none;
}

body {
    /* height: 10000px; */
}

.Mui-selected {
    background-color: #10b981 !important;
    color: white !important;
    border: none !important;
}

.radio-css {
    accent-color: green !important;
}

.nav-item.active {
    color: #10b981;
}

.image-small-admin:hover {
    @apply bg-gray-200;
}

.image-small-admin:hover .trash {
    @apply inline-block
}

@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

:where(.css-dev-only-do-not-override-1okl62o).ant-layout {
    font-family: Open Sans, sans-serif !important;
}

/* Table admin style  */
.table-header-admin th {
    @apply py-5 px-6 font-semibold leading-tight border-b border-gray-300;
}

.table-body-admin td {
    @apply py-4 px-6 border-b border-gray-300 text-[1rem];
}

.table-body-admin tr:hover {
    @apply bg-gray-100 transition-all duration-200;
}

/* Antd sidebar menu admin  */
.ant-menu-item {
    color: #ffffff !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: 48px !important;
    height: 48px !important;
}

.ant-menu-item-selected {
    color: #10b981 !important;
    background: #ffffff !important;
}

.ant-menu-item-active:not(.ant-menu-item-selected) {
    color: #ffffff !important;
    background: rgba(255, 255, 255, 0.2) !important;
}

/* table admin */
.tb-admin thead>tr>th {
    padding: 1.3rem 1.5rem;
    line-height: 1rem;
    font-weight: 600;
    letter-spacing: .05em;
    border-bottom: 1px solid #e5e5e5;
    --tw-text-opacity: 1;
}

.tb-admin tbody>tr>td {
    padding: 1.1rem 1.5rem;
    border-bottom: 1px solid #e5e5e5;
}

.tb-admin tbody>tr:hover {
    background-color: #f5f5f5;
    transition: all 0.2s;
}

.MuiPaper-root {
    width: 100%;
}

/* Responsive sidebar app */
@media (min-width: 480px) {
    .MuiPaper-root {
        width: 420px;
    }
}

/* HTML: <div class="loader"></div> */
.loader {
    height: 80px;
    aspect-ratio: 1;
    display: grid;
}

.loader:before,
.loader:after {
    content: "";
    --c: no-repeat linear-gradient(#10b981 0 0);
    background: var(--c), var(--c);
    background-size: 25% 50%;
    animation: l4 1.5s infinite linear;
}

.loader:after {
    transform: scale(-1);
}

/* HTML: <div class="loader-submit"></div> */
.loader-submit {
    width: 35px;
    aspect-ratio: 1;
    --_g: no-repeat radial-gradient(farthest-side, #10b981 94%, #10b981);
    background:
        var(--_g) 0 0,
        var(--_g) 100% 0,
        var(--_g) 100% 100%,
        var(--_g) 0 100%;
    background-size: 40% 40%;
    animation: l38 .5s infinite;
}

@keyframes l38 {
    100% {
        background-position: 100% 0, 100% 100%, 0 100%, 0 0
    }
}

@keyframes l4 {

    0%,
    10% {
        background-position: 33.4% 100%, 66.6% 100%
    }

    40% {
        background-position: 33.4% 0, 100% 100%
    }

    70% {
        background-position: 0 100%, 66.6% 0
    }

    100% {
        background-position: 33.4% 100%, 66.6% 100%
    }
}