<div>
    <div class="lg:flex items-center justify-between mb-4">
        <h1 class="mb-4 lg:mb-0 text-2xl font-semibold">Products</h1>
        <div>
            <button
                class="flex items-center gap-2 font-semibold text-base py-2 px-2 rounded-md bg-primary-600 text-white">
                <mat-icon>
                    <span class="material-symbols-outlined">
                        add_circle
                    </span>
                </mat-icon>
                Add Product
            </button>
        </div>
    </div>
    <div>
        <table class="w-full text-left text-gray-600">
            <thead class="bg-[#f5f5f5] text-sm">
                <tr>
                    <th class="uppercase">Name</th>
                    <th class="uppercase">Image</th>
                    <th class="uppercase">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>The Sliding </td>
                    <td>Malcolm Lockyer</td>
                    <td class="flex items-center gap-3">
                        <button>
                            <mat-icon class="scale-110">
                                <span class="material-symbols-outlined text-blue-500">
                                    edit_square
                                </span>
                            </mat-icon>
                        </button>
                        <button>
                            <mat-icon class="scale-110">
                                <span class="material-symbols-outlined text-red-500">
                                    delete_forever
                                </span>
                            </mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Witchy Woman</td>
                    <td>The Eagles</td>
                    <td>
                        <button>
                            <mat-icon>
                                <span class="material-symbols-outlined">
                                    edit
                                </span>
                            </mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-icon>
                            <span class="material-symbols-outlined">
                                edit
                            </span>
                        </mat-icon>
                    </td>
                    <td>Earth, Wind, and Fire</td>
                    <td>1975</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>