<mat-dialog-content class="no-scrollbar !max-h-max !rounded-lg ">
    <div
        class="inline-block w-full max-w-lg scale-100 transform overflow-hidden rounded-2xl bg-white text-left align-middle opacity-100 transition-all">
        <div class="mx-auto overflow-hidden bg-white">
            <div class="mb-6 text-center">
                <h2 class="text-3xl font-bold text-gray-900">
                    {{currentFormTexts.title}}
                </h2>
                <p class="mb-8 mt-2 text-sm text-gray-500 sm:mb-10 md:text-base">
                    {{currentFormTexts.subtitle}}
                </p>
            </div>
            <form class="flex flex-col justify-center" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="grid grid-cols-1 gap-5">
                    @if(isRegisterForm && !isForgotPasswordForm) {
                    <div class="form-group">
                        <label class="mb-2 block text-sm font-medium leading-none text-gray-500">
                            Full Name
                        </label>
                        <div>
                            <div class="relative">
                                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                                    <mat-icon class="scale-75">
                                        <span class="material-symbols-outlined">
                                            person
                                        </span>
                                    </mat-icon>
                                </div>
                                <input type="text" placeholder="Your full name"
                                    class="text-input placeholder-body h-11 min-h-12 w-full appearance-none rounded-md border border-gray-200 bg-white py-2 pl-10 text-sm opacity-75 transition duration-200 ease-in-out focus:border-primary-600 focus:outline-none focus:ring-0 md:h-12"
                                    formControlName="name" />
                            </div>
                            @if(form.get('name')?.hasError('required') && form.get('name')?.touched) {
                            <small class="text-red-600 text-[15px] pt-1 inline-block">(*) Name is required</small>
                            }
                        </div>
                    </div>
                    }
                    <div class="form-group">
                        <label class="mb-2 block text-sm font-medium leading-none text-gray-500">
                            Email
                        </label>
                        <div>
                            <div class="relative">
                                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                                    <mat-icon class="scale-75">
                                        <span class="material-symbols-outlined">
                                            email
                                        </span>
                                    </mat-icon>
                                </div>
                                <input placeholder="Email" type="email"
                                    class="text-input placeholder-body h-11 min-h-12 w-full appearance-none rounded-md border border-gray-200 bg-white py-2 pl-10 text-sm opacity-75 transition duration-200 ease-in-out focus:border-primary-600 focus:outline-none focus:ring-0 md:h-12"
                                    formControlName="email" />
                            </div>
                            @if(form.get('email')?.touched) {
                            @if(form.get('email')?.hasError('required')) {
                            <small class="text-red-600 text-[15px] pt-1 inline-block">(*) Email is required</small>
                            }
                            @if(form.get('email')?.hasError('email')) {
                            <small class="text-red-600 text-[15px] pt-1 inline-block">(*) Email is not valid</small>
                            }
                            }
                        </div>
                    </div>
                    @if(!isForgotPasswordForm) {
                    <div class="form-group">
                        <label class="mb-2 block text-sm font-medium leading-none text-gray-500">
                            Password
                        </label>
                        <div>
                            <div class="relative">
                                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                                    <mat-icon class="scale-75">
                                        <span class="material-symbols-outlined">
                                            lock
                                        </span>
                                    </mat-icon>
                                </div>
                                <input type="password" placeholder="Password"
                                    class="text-input placeholder-body h-11 min-h-12 w-full appearance-none rounded-md border border-gray-200 bg-white py-2 pl-10 text-sm opacity-75 transition duration-200 ease-in-out focus:border-primary-600 focus:outline-none focus:ring-0 md:h-12"
                                    formControlName="password" />
                            </div>
                            @if(form.get('password')?.touched) {
                            @if(form.get('password')?.hasError('required')){
                            <small class="text-red-600 text-[15px] pt-1 inline-block">(*) Password is required</small>
                            }
                            @if(form.get('password')?.hasError('minlength')){
                            <small class="text-red-600 text-[15px] pt-1 inline-block">(*) Password must be at least 6
                                characters</small>
                            }
                            }
                        </div>
                    </div>
                    <div class="flex items-center justify-between">
                        <div class="ms-auto flex">
                            <button type="button"
                                class="text-heading ps-3 text-end text-sm underline hover:no-underline focus:outline-none"
                                (click)="onFormChange(forgotPasswordForm)">
                                Forgot password?
                            </button>
                        </div>
                    </div>
                    }
                    <button type="submit"
                        class="my-1 w-full rounded bg-primary-600 py-3 text-center text-white transition-all hover:bg-primary-700 focus:outline-none">
                        {{currentFormTexts.button}}
                    </button>
                </div>
            </form>
            <div class="fo10t-sans my-3 text-center font-medium before:bg-gray-100 after:bg-gray-100">
                OR
            </div>
            <div class="flex flex-col justify-between gap-3 lg:flex-row">
                <div class="w-full text-nowrap rounded bg-gray-100 px-5 py-3 text-center text-sm text-gray-900 transition-all hover:bg-gray-200 focus:outline-none flex items-center gap-3 justify-center"
                    role="button">
                    <img src="https://img.icons8.com/?size=100&id=yGcWL8copNNQ&format=png&color=000000"
                        alt="Facebook Icon" width="20px" height="20px">
                    <span>
                        Login with Facebook
                    </span>
                </div>
                <div class="w-full text-nowrap rounded bg-gray-100 px-5 py-3 text-center text-sm text-gray-900 transition-all hover:bg-gray-200 focus:outline-none flex items-center gap-3 justify-center"
                    role="button">
                    <img src="https://img.icons8.com/?size=100&id=17949&format=png&color=000000" alt="Google Icon"
                        width="20px" height="20px">
                    <span>
                        Login with Google
                    </span>
                </div>
            </div>
            <div class="mt-4 text-center text-sm text-gray-900">
                <div class="text-gray-500 mt-2.5">
                    {{currentFormTexts.link}}
                    <button class="text-gray-800 hover:text-emerald-500 font-bold mx-2"
                        (click)="onFormChange(currentFormTexts.linkTo)">
                        {{currentFormTexts.linkTo}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>