<section class="mt-5 w-full px-3 sm:px-10">
    <div class="mx-auto max-w-screen-2xl">
        <div class="lg:flex lg:gap-2 xl:gap-6">
            <app-home-hero-swiper class="w-3/5"></app-home-hero-swiper>
            <div
                class="hidden h-full w-full transform rounded border-2 border-orange-500 bg-gray-50 shadow transition duration-150 ease-linear hover:border-primary-500 lg:flex lg:flex-col xl:w-4/5">
                <h3 class="rounded-t border-b bg-orange-100 px-6 py-2 text-center text-base font-medium text-gray-900">
                    Latest Super Discount Active Coupon Code
                </h3>
                <div class="mx-4 my-5 flex flex-col gap-5">
                    @for(coupon of coupons; track coupon._id) {
                    <div class="block flex-1 items-center rounded-md bg-white shadow md:flex md:justify-between">
                        <div class="flex items-center gap-4 px-3 py-2">
                            <img src="https://fptshop.com.vn/uploads/originals/2024/1/14/638408718757531409_coupon-la-gi.jpg"
                                alt="" class="max-h-[60px] max-w-[60px] rounded-md" />
                            <div class="">
                                <h6 class="pl-1 flex items-center text-base font-medium text-gray-600">
                                    <span class="pe-1 text-lg font-bold text-red-500 md:text-xl lg:text-xl">
                                        <span>- {{coupon.discount | currency}}</span>
                                    </span>
                                    @if(isActiveCoupon(coupon.endTime)) {
                                    <span
                                        class="ms-2 inline-block rounded-full bg-primary-100 px-4 py-1 text-xs font-medium text-primary-600">
                                        Active
                                    </span>
                                    }
                                    @else {
                                    <span
                                        class="ms-2 inline-block rounded-full bg-red-100 px-4 py-1 text-xs font-medium text-red-600">
                                        Active
                                    </span>
                                    }
                                </h6>
                                <h2 class="mb-2 pl-1 text-base font-semibold leading-6 text-gray-700">
                                    Summer Gift Voucher
                                </h2>
                                <span class="mb-2 inline-block">
                                    <div class="flex items-center font-semibold">
                                        <span
                                            class="mx-1 flex items-center justify-center rounded  bg-primary-500 px-2 py-1 text-sm font-semibold text-white">
                                            12
                                        </span>
                                        <span
                                            class="mx-1 flex items-center justify-center rounded  bg-primary-500 px-2 py-1 text-sm font-semibold text-white">
                                            23
                                        </span>
                                        <span
                                            class="mx-1 flex items-center justify-center rounded  bg-primary-500 px-2 py-1 text-sm font-semibold text-white">
                                            26
                                        </span>
                                        <span
                                            class="mx-1 flex items-center justify-center rounded  bg-primary-500 px-2 py-1 text-sm font-semibold text-white">
                                            40
                                        </span>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="relative border-dashed px-4 md:w-1/3 md:border-l-2 lg:w-1/3 lg:border-l-2">
                            <div class="info flex items-center">
                                <div class="w-full">
                                    <div class="block">
                                        <div
                                            class="block rounded-lg border border-dashed border-primary-400 bg-primary-100 py-1 text-center">
                                            <button class="block w-full">
                                                <span class="text-sm font-semibold leading-7 text-primary-600">
                                                    {{coupon.code}}
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
        <div class="mt-5 flex items-center justify-between gap-2 rounded-md bg-[#ffedd5] px-10 py-6">
            <div>
                <h1 class="text-xl font-bold text-primary-700">
                    100% Natural Quality Organic Product
                </h1>
                <p class="text-gray-500">
                    See Our latest discounted products from here and get a special
                    discount product
                </p>
            </div>
            <div class="ps-2">
                <app-button linkTo="/products/search" text="Shop Now"></app-button>
            </div>
        </div>
    </div>
</section>