<section class="bg-gray-50 px-3 py-6 sm:px-10">
    <div class="mx-auto max-w-screen-2xl rounded-lg bg-primary-600 p-6 lg:p-16">
        <div class="flex items-center gap-3 rounded-lg bg-white px-6 py-8">
            <div class="flex-1">
                <span class="">Organic Products and Food</span>
                <h2 class="mb-2 text-lg font-bold lg:text-2xl">
                    Quick Delivery to Your Home
                </h2>
                <p class="mb-5 text-sm">
                    There are many products you will find in our shop, Choose your
                    daily necessary product from our KachaBazar shop and get some
                    special offers. See Our latest discounted products from here and
                    get a special discount.
                </p>
                <app-button text="Download App"></app-button>
            </div>
            <div>
                <img src='../../../../assets/delivery-boy.webp' alt="Download" class="hidden w-full lg:block" />
            </div>
        </div>
    </div>
</section>